.album_page_loader_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .page-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-right: 2%;

    img {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 40%;
        max-height: 60%;
        box-shadow: -6px -6px 20px rgba(186, 202, 247, .1), 24px 24px 30px rgba(209, 220, 250, .12), 8px 8px 8px rgba(163, 184, 245, .1);
        border-radius: 20px;
        overflow: hidden;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 40%;
        justify-content: left;
        align-items: normal;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;

        .primary-text {
            margin-top: 1%;
            margin-bottom: 1%;
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 50px;
            font-style: normal;
        }

        .secondary-text {
            margin: 0%;
            margin-bottom: 1%;
            font-family: "Inter", sans-serif;
            font-size: 25px;
            font-weight: 150;
            font-style:normal;
        }

        .info-text {
            margin: 0%;
            margin-top: 1%;
            font-size: 13px;
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-style:normal;
        }

        .submit_btn {
            display: flex;
            margin-top: 3%;
            height: 10%;
            width: 100%;
            background-color: black;
            color: white;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: 1px solid black;
        }
    }
  }